################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/ImpactGrenade/obj/Debug
/ImpactGrenade/bin/Debug
/packages/StyleCop.Analyzers.1.1.118
/ImpactGrenade/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
